<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <img src="../../assets/grey.png" width="100px" routerLink="home">
    <a class="navbar-brand text-primary" routerLink="home"><b>Git Search</b></a>
    <a class="nav-item nav-link active text-dark" routerLink="home">Home<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link text-dark" routerLink="search-form">Search</a>
    <a class="nav-item nav-link text-dark" routerLink="about">About</a>
  
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"></div>
      </div>
  </nav>