<form (ngSubmit)='findProfile()' #searchForm='ngForm'>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="search  git users with username" [(ngModel)]="username"
            name="username" (keyup)="findProfile()">
    </div>
</form>
<div class="row">
    <div class="avatar">
        <img class="circle-image" src="{{profile.avatar_url}}"  alt="Profile Image">
        <p class="text-center" >Created At:{{ user.creation | date }}</p>
    </div>
</div>
<h3 class="">Repositories</h3>
<div class="row">
    <div class="card col-lg-5 ml-3 bg-secondary" *ngFor="let repo of repos">
        <div class="row">
                <p appHighlight *ngIf="repo.name.length > 10">Long repo name</p>
                        <div class="col-md-9">
                        <h3>{{repo.name}}</h3>
                        <p>{{repo.description}}</p>

                        <h4><a href="{{repo.html_url}}" target="_blank" class="btn btn-info">View on github</a>
                        </h4>
                    </div>

                    <div class="col-md-3">
                        <span class="btn btn-success">{{repo.watchers}} Stars </span>
                        <span class="btn btn-primary">{{repo.forks}} Forks </span>
                    </div>

                </div>
                <hr>
            </div>
</div>