<h1>GitHub</h1>
<hr>
<div class="row">
    <div class="col-md-9">
        <img src="{{profile.avatar_url}}" class="circle-image" alt="Profile Image">
    </div>
    <div class="col-md-3"><b>User Name:{{user.name}}</b></div>
</div>

<div class="row">
    <div class="card bg-secondary col-md-3" *ngFor="let repo of repos">

        <h3>{{repo.name}}</h3>
        <p>{{repo.description}}</p>

        <h4><a href="{{repo.html_url}}" target="_blank" class="btn btn-secondary">View on github</a>
        </h4>

        <span class="btn btn-success fa fa-star">{{repo.watchers}}</span>
        <span class="btn btn-primary">{{repo.forks}} Forks </span>
    </div>

<hr>


<hr>

<h1 class="display-4">Search any GitHub User here!<a class="text-info" routerLink="/search-form">Search</a></h1>